#home {
  min-height: inherit;
  .hero{
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 4rem;
      color: white;
      text-transform: uppercase;

      span {
        color: orange;
        font-weight: 700;
      }
    }
    .bg {

      min-height: 100vh;
      background: linear-gradient(#00c1ff, #0000007d), url("https://www.co.muscatine.ia.us/ImageRepository/Document?documentID=3150");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100%;
      z-index: -1;
    }
  }


  .home-body{
    height: 500px;
    background: white;
    margin-top: 100px;
    &:before{
      background: inherit;
      bottom: 0;
      content: '';
      display: block;
      height: 10%;
      left: 0;
      position: absolute;
      right: 0;
      -webkit-transform: skewY(-1.5deg);
      transform: skewY(2.8deg);
      -webkit-transform-origin: 100%;
      transform-origin: 0%;
      z-index: -1;
    }
    .about-us{
      padding-top: 20px;
      h2{
        font-size: 2rem;
      }
    }
  }
}
