#contact{
  .container{
    > div{
        padding: 30px 0;
        >div{
          background: red;
/* margin: 50px; */
height: 500px;
border-radius: 5px;
box-shadow: black 0 0 6px;
        }
    }
  }
}
