.select{
  width: 200px;
  margin-top: 10px;
  margin-right: 40px;
}
.filters{
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  div {
    &:nth-last-child(2){
          margin-right: auto;
  }
  }
  .submit-wrapper{
    display: flex;
    align-items: flex-end;
    .submit-btn{
      background: lightblue;
      height: 38px;
      width: 100px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: white;
      font-weight: 700;
      border: 1px solid lightgrey;
      cursor: pointer;
      &:active{
        background: blue;
      }
    }
  }

}
