#services {
  display: flex;
flex-direction: column;
  .header{
    padding: 75px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/hvac.png);
    background-size: cover;
    background-position: center;
    .container{
      > div{
        .header-title{
          transform: scaley(1.3);
          display: flex;
          color: white;
          font-weight: 500;
          text-shadow: black 0 0 6px;
          justify-content: space-between;
          text-transform: uppercase;
          text-align: center;
          h1{
            &:first-child{
              margin-right: 10px;
            }
          }
        }
        h3{
          max-width: 1000px;
          color: white;
          text-align: center;
          margin: 60px auto 0;
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 100;
          text-shadow: black 0 0 6px, black 0 0 8px, black 0 0 8px;
        }
      }
    }
  }
  .service-body{
    margin: 30px 0;
    .service-links{
      background: gainsboro;
      padding: 20px;
      clear: both;
      float: left;
      width: calc(30% - 15px);
      h3{
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        &::after{
          content: '';
          display: block;
          height: 2px;
          width: 100%;
          background: orange;
          margin: 10px 0 20px;
        }
      }
      li{
        margin: 20px 0;
        text-align: center;
      }
    }

    .service-info{
      background: gainsboro;
      padding: 20px;
      float: right;
      width: calc(70% - 15px);
    }

    .card{
      border-radius: 5px;
      box-shadow: black 0 0 2px;
    }
  }

}

//laptop -> ipadx
@media screen and (max-width: 1399px){
  #services {
    .header{
      .container{
        > div{
          .header-title{
            justify-content: space-evenly;
            h1{
              font-size: 2.9rem;
              &:first-child{
              }
            }
          }
        }
      }
    }
  }
}

//ipadx -> ipad
@media screen and (max-width: 1008px){
  #services {
    .header{
      .container{
        > div{
          .header-title{
            justify-content: space-evenly;
            h1{
              font-size: 2.9rem;
              &:first-child{
              }
            }
          }
        }
      }
    }
  }
}
