#single-product {
  background: #96e5ff;

  .single-product-wrapper {
    display: flex;
    flex-direction: column;
    color: #404040;
    min-height: inherit;
    background: white;

    > div {
      animation: fade-in 0.5s ease-in;
    }

    .single-product {
      background: #96e5ff;
      overflow: hidden;
      border-radius: 5px;
      grid-template-columns: 1fr 1fr;
      margin: 30PX 20px 30px;
      display: grid;

      .img-wrapper {
        min-height: 400px;
        height: 100%;
        overflow: hidden;
        transform: translate(100%, 0%);
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        z-index: 0;

        &.loaded {
          transform: translate(0%, 0%);
        }

        &.grill {
          display: flex;
          justify-content: center;

          img {
            width: auto;
            height: 100%;
            max-height: 400px;
            object-position: left;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-info {
        height: 100%;
        width: 100%;
        padding: 20px;
        /* grid-template-columns: 1fr 1fr; */
        grid-gap: 30px;
        z-index: 1;
        align-items: center;
        box-shadow: black 0 0 20px;
        background: #eee;

        h1 {
          font-size: 2rem;
          text-align: center;
          padding: 20px;
          font-weight: 700;
          text-transform: uppercase;
          color: #000000;
          clip-path: unset;
          background: linear-gradient(#828282, #5a5a59);
          -webkit-text-fill-color: #00000000;
          -webkit-background-clip: text;
          -webkit-text-stroke: #000000d6 1px;
        }

        p {
          font-size: 1.1rem;
          letter-spacing: 2px;
          text-indent: 20px;
          line-height: 1.6rem;
          padding: 20px;
          text-align: center;
        }

        ul {
          margin-bottom: 20px;
        }
      }
    }

    .extra-info-columns {
      margin: 0 20px 30px;

      .float {
        width: calc(50% - 15px);
      }

      .bullet-points {
        padding: 20px;
        clear: both;
        margin-bottom: 30px;
        float: left;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          li {
            margin: 10px 0;
            font-size: 1.1rem;
            line-height: 1.5rem;
            text-align: center;
            font-weight: 500;
          }
        }
      }

      .product-specs {
        margin-left: 30px;
        float: right;

        .models {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          overflow: visible;
          align-items: center;

          h2 {
            padding: 0;
            margin: 0;
          }

          .model-select {
            width: 150px;
            border-radius: 5px;
          }
        }

        > div {
          padding: 20px 0;
          margin-bottom: 30px;

          h2 {
            font-size: 1.5rem;
            margin: 0 0 20px 20px;
          }

          .table {
            > div {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid orange;
              padding: 10px 0;

              &:first-child {
                border-top: 1px solid orange;
              }

              h3 {
                font-size: 1.1rem;
                text-transform: capitalize;
                margin: 0 20px;

                &:first-child {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .downloads {
        background: red;
        float: left;
        width: calc(50% - 15px);
        background: #eeeeee;
        overflow: hidden;

        iframe {
          width: 100%;
          height: 0;
          display: block;
          transition: height 1s ease-in-out;

          &.open {
            height: 835px;
          }
        }

        .buttons {
          display: flex;

          a {
            &.close-btn {
              background: red;
            }

            &:first-child {
              border-right: solid white 1px;
            }
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            background: #00c0ff;
            width: 50%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  #single-product {
    .single-product-wrapper {
      .single-product {
        grid-template-columns: 1fr;
        .img-wrapper{

          transform: translate(0, 100%);
        }
        .product-info {
          display: block;
        }
      }

      .extra-info-columns {
        .float {
          float: left;
          width: 100%;
        }

        .bullet-points {
          margin-bottom: 30px;
        }

        .product-specs {
          margin-left: 0;

          .models {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            overflow: visible;
            align-items: center;

            h2 {
              padding: 0;
              margin: 0;
            }

            .model-select {
              width: 150px;
              border-radius: 5px;
            }
          }

          > div {
            padding: 20px 0;
            margin-bottom: 30px;

            h2 {
              font-size: 1.5rem;
              margin: 0 0 20px 20px;
            }

            .table {
              > div {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid orange;
                padding: 10px 0;

                &:first-child {
                  border-top: 1px solid orange;
                }

                h3 {
                  font-size: 1.1rem;
                  text-transform: capitalize;
                  margin: 0 20px;

                  &:first-child {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }

        .downloads {
          iframe {
            &.open {
              height: 70vh;
            }
          }
        }
      }
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}