.coupon {
  background: #00c0ff;
  flex-grow: 1;
display: flex;
  .container{
    >div{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 75px 0;
      margin: 0;
      flex-wrap: wrap;
      .row{
        flex-basis: calc(50% - 40px);
        margin: 0 20px;
      }
      .coupon-title{
          text-align: center;
          text-transform: uppercase;
        h2:nth-of-type(1){
          font-weight: 100;
        }
        h2:nth-of-type(2){
          font-weight: 700;
          color: #fe8125;
          margin-top: 10px;
          letter-spacing: .4rem;
          -webkit-text-stroke: black 1px;
        }

      }
      img{
        max-width: 700px;
        width: 100%;
        min-width: 344px;
        background: #72dcff;
        border: dashed 5px #fe8125;
        box-shadow: #ffffff 0px 0px 20px 0px;
      }
    }
  }
}

@media screen and (max-width: 854px) {

    .coupon{
      .container > div {
        padding: 50px 0 !important;
        flex-wrap: wrap;
        .coupon-title {
            margin-bottom: 50px !important;
            flex-basis: 100% !important;
            h2{
              font-size: 2rem;
            }
        }
      }
    }
  }
