@import 'sass/variables';

.body{
  margin-top: $header-height;
  min-height: calc(100vh - (100px + #{$header-height}));
  color: $light-black;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  > div{
    margin-left: 20px;
    margin-right: 20px;
  }
}
