@import 'sass/variables';

html, body, #root {
    height: 100%;
    color: $light-black;
}

.body{
  margin-top: $header-height;
  min-height: calc(100vh - (100px + #{$header-height}));
}

.container{
  max-width: 1400px;
  margin: 0 auto;
    width: 100%;
  > div{
    margin-left: 20px;
    margin-right: 20px;
  }
}
