@import 'sass/reset';
@import 'sass/variables';

html, body, #root {
    height: 100%;
    color: $light-black;
}

#root{
  >:nth-child(2){
    margin-top: $header-height;
    min-height: 70vh;
    min-height: calc(100vh - 94px);
  }
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  > div{
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
  }
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
}


@media screen and (max-width: 500px) {
  #root{
    h1 {
        font-size: 2rem !important;
    }
    h2{
      font-size: 2rem !important;
    }
    p{
      font-size: 1rem !important;
    }
  }
}